
.row {
    background-color: rgb(240, 245, 243);
    margin-top: auto;
}

body {
    background-color: rgb(191, 199, 207);
}

form {
    margin: auto;
    margin-top:5%;
    margin-bottom: 2%;   
}

.row-12{
    background-color: aquamarine;
    margin-top: 2%;
}

